body {
     background-attachment:fixed;}
     
        #heading {text-align: left;
            color:rgb(255, 255, 255); 
            font-family: cursive;
            font-size:30px;}

        .navbar {background: rgb(240, 92, 153);
            opacity: 0.85;
            border:none;
            font-family: cursive;
            color:white;
            font-size: 20px;}  
        .navbar-nav {float: right;}
        #navbar-item {color:white;}
        a:hover {color:rgb(68, 4, 36);}
        #initiative {background-color: rgb(243, 153, 150);
            font-family: cursive;
            color:black;
            font-size: 20px;
            opacity:0.8;
            line-height: 2.0em;
            border-radius:25px; }  
        #contact-us {background-color: rgb(245, 112, 3);
            border-radius:25px;
            font-family: cursive;
            opacity:0.9;} 
        #heading1 {text-align: center;
            font-size:30px;
            color:black;} 
        #other {font-size:22px;
                color:rgb(1, 49, 1);} 
        #otherlink{font-size:22px;
                 color: black;} 